 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /* ***------------------------ */
 body{
   font-family: 'Arial', sans-serif;

 }
 .nav{
    height: 90px;
    margin: 10px;
    padding: 5px;
    width: auto;
    display: flex;
    /* background-color:  #7e7d7d; */
    justify-content: space-between;
    /* border: 2px solid black; */
    
 }
 .head{
    display: flex;
    align-items: center;
    margin-left: 10px;
 }
 .head img{
    height: 60px;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid black;
 }
 /* .head #logoImg{
   border: 2px solid black;
 } */
 .head h1{
    margin-left: 5px;
    text-shadow: -5px 6px 8px rgb(0,0, 0,0.3);
    font-weight: 600;
 }
 .mid{
    width: 500px;
    align-items: center;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
    display: flex;
}

.mid a{
    text-decoration: none;
    color: #0000FF;
 }
 .end{
    margin-right: 4%;
    width: 130px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    align-items: center;
    justify-content: space-between;
    display: flex;
 }
 .login-div{
   background-color: #4CAF50;
   padding: 5px;
   border-radius: 5px;
 }
 .logout-div{
   background-color:#4CAF50;
   padding: 5px;
   border-radius: 5px;
   margin-left: 6px;
 }
 .delete-div{
   padding: 5px;
 }

 .end a{
    border-radius: 1px;
    text-decoration: none;
    font-weight: 600;
    color: white;
 }
/* ***\---------------------- */
.delete-div img{
   height: 45px;
   border-radius: 50px;
   padding: 5px;
}

.delete-div img:hover {
   transform: scale(1.1); /* Increase the size of the image by 10% */
   transition: transform 0.3s ease; /* Smooth transition effect */
}
